<div class="container main-container ng-scope" id="lobby">
  <div class="container-fluid lobby no-padding no-margin box-content">
    <div class="container container-1">
        <div class="row row-1">
          <table class="table-header visible-md visible-lg">
            <tbody>
              <tr>
                <td>
                  <br>
                  <hr>
                </td>
                <td>
                  <h1 class="orange-text text-center">TEAM DRAFT</h1>
                </td>
                <td>
                  <br>
                  <hr>
                </td>
              </tr>
            </tbody>
          </table>
          <table style="width: 100%;" class="table-header mobile visible-xs visible-sm">
            <tbody>
              <tr>
                <td>
                  <h1 class="orange-text text-center">TEAM DRAFT</h1>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12  ">Entry Size: xx / xxx</div>
                <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12  ">Number of Entry: xx /xxx</div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                <h3>Rp. 10.000.000,-</h3>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <img class="image " src="http://lorempixel.com/g/400/200/people" alt="placeholder image" height="200" width="400">
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                <input type="text" class="input-small" placeholder="insert player name">
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                <h3>man united vs totenham</h3>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <h3>01:01:01</h3>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <div class="col-md-3 col-xs-12 col-lg-3">ALL</div>
            <div class="col-md-3 col-xs-12 col-lg-3">FORWARD</div>
            <div class="col-md-3 col-xs-12 col-lg-3">MIDDLE</div>
            <div class="col-md-3 col-xs-12 col-lg-3">DEFENDER</div>
            <table class="table table-striped ">
                <tbody>
                    <tr>
                        <th>header 1</th>
                        <th>header 2</th>
                        <th>header 3</th>
                        <th>header 4</th>
                        <th>header 5</th>
                    </tr>
                    <tr>
                        <td>row 1,col 1</td>
                        <td>row 1,col 2</td>
                        <td>row 1,col 3</td>
                        <td>row 1,col 4</td>
                        <td>row 1,col 5</td>
                    </tr>
                    <tr>
                        <td>row 2,col 1</td>
                        <td>row 2,col 2</td>
                        <td>row 2,col 3</td>
                        <td>row 2,col 4</td>
                        <td>row 2,col 5</td>
                    </tr>
                    <tr>
                        <td>row 3,col 1</td>
                        <td>row 3,col 2</td>
                        <td>row 3,col 3</td>
                        <td>row 3,col 4</td>
                        <td>row 3,col 5</td>
                    </tr>
                    <tr>
                        <td>row 4,col 1</td>
                        <td>row 4,col 2</td>
                        <td>row 4,col 3</td>
                        <td>row 4,col 4</td>
                        <td>row 4,col 5</td>
                    </tr>
                    <tr>
                        <td>row 5,col 1</td>
                        <td>row 5,col 2</td>
                        <td>row 5,col 3</td>
                        <td>row 5,col 4</td>
                        <td>row 5,col 5</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <div class="col-md-3 col-xs-12 col-lg-3  ">ROSTER NAME</div>
            <div class="col-md-9 col-xs-12 col-sm-12 col-lg-9  ">
                <input type="text" class="input-small">
            </div>
            <table class="table table-bordered  table-striped ">
                <tbody>
                    <tr>
                        <th>header 1</th>
                        <th>header 2</th>
                        <th>header 3</th>
                        <th>header 4</th>
                    </tr>
                    <tr>
                        <td>row 1,col 1</td>
                        <td>row 1,col 2</td>
                        <td>row 1,col 3</td>
                        <td>row 1,col 4</td>
                    </tr>
                    <tr>
                        <td>row 2,col 1</td>
                        <td>row 2,col 2</td>
                        <td>row 2,col 3</td>
                        <td>row 2,col 4</td>
                    </tr>
                    <tr>
                        <td>row 3,col 1</td>
                        <td>row 3,col 2</td>
                        <td>row 3,col 3</td>
                        <td>row 3,col 4</td>
                    </tr>
                    <tr>
                        <td>row 4,col 1</td>
                        <td>row 4,col 2</td>
                        <td>row 4,col 3</td>
                        <td>row 4,col 4</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <button class="btn">Export</button>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
            <button class="btn">DRAFT TEAM</button>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="detailsUser" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="contestInfoBox" id="contestInfoBox" style="display: block;">
                <div class="contestInfoBoxContainer">
                    <div class="contestInfo">
                        <div class="contestInfoName">EPL Bonkers</div>
                        <div class="contestInfoDetails">
                            <div>18:30:00</div>
                            <div class="contestInfoDetails2">Start Time</div>
                        </div>
                        <div class="contestInfoDetails">
                            <div>2016-10-29</div>
                            <div class="contestInfoDetails2">Start Date</div>
                        </div>
                        <div class="contestInfoDetails">
                            <div>RP 10,000,000*</div>
                            <div class="contestInfoDetails2">Prizes</div>
                        </div>
                        <div class="contestInfoDetails">
                            <div>FREE</div>
                            <div class="contestInfoDetails2">Entry Fee</div>
                        </div>
                        <div class="contestInfoDetails">
                            <div>0 / 1000</div>
                            <div class="contestInfoDetails2">Prizes for top 50</div>
                        </div>
                        <div class="contestInfoDetails">
                            <div>0</div>
                            <div class="contestInfoDetails2">Number of Entries</div>
                        </div>
                        <div class="contestInfoLast"></div>
                    </div>
                    <div class="mainmediabox">
                        <div class="mediabox1">
                            <div class="inputHeading"><b>Pick a team of 10 players from the following games:</b></div>
                            <div class="games">
                                <div class="gameLast"></div>
                                <div class="game">
                                    <div>SUN</div>
                                    <div>@ ARS</div>
                                    <div>2016-10-29 18:30:00</div>
                                </div>
                                <div class="game">
                                    <div>MID</div>
                                    <div>@ BOU</div>
                                    <div>2016-10-29 21:00:00</div>
                                </div>
                                <div class="game">
                                    <div>MUN</div>
                                    <div>@ BUR</div>
                                    <div>2016-10-29 21:00:00</div>
                                </div>
                                <div class="game">
                                    <div>WAT</div>
                                    <div>@ HUL</div>
                                    <div>2016-10-29 21:00:00</div>
                                </div>
                                <div class="game">
                                    <div>TOT</div>
                                    <div>@ LEI</div>
                                    <div>2016-10-29 21:00:00</div>
                                </div>
                                <div class="game">
                                    <div>WBA</div>
                                    <div>@ MCI</div>
                                    <div>2016-10-29 21:00:00</div>
                                </div>
                                <div class="game">
                                    <div>SOU</div>
                                    <div>@ CHE</div>
                                    <div>2016-10-29 23:00:00</div>
                                </div>
                                <div class="game">
                                    <div>CRY</div>
                                    <div>@ LIV</div>
                                    <div>2016-10-29 23:30:00</div>
                                </div>
                                <div class="game">
                                    <div>EVE</div>
                                    <div>@ WHU</div>
                                    <div>2016-10-30 20:30:00</div>
                                </div>
                                <div class="game">
                                    <div>STK</div>
                                    <div>@ SWA</div>
                                    <div>2016-11-01 03:00:00</div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="inputHeading1"><b>Scoring Categories:</b></div>
                            <div class="scoring">
                                <div class="scoringHeading">Goal</div>
                                <div class="scoringValue">5 Pts.</div>
                                <div class="scoringHeading">Assist</div>
                                <div class="scoringValue">4 Pts.</div>
                                <div class="scoringHeading">Completed Pass</div>
                                <div class="scoringValue">0.02 Pts.</div>
                                <div class="scoringHeading">Completed Key Pass</div>
                                <div class="scoringValue">1 Pts.</div>
                                <div class="scoringHeading">Cross</div>
                                <div class="scoringValue">0.4 Pts.</div>
                                <div class="scoringHeading">Completed Cross</div>
                                <div class="scoringValue">1 Pts.</div>
                                <div class="scoringHeading">Tackle</div>
                                <div class="scoringValue">0.4 Pts.</div>
                                <div class="scoringHeading">Interception</div>
                                <div class="scoringValue">0.4 Pts.</div>
                                <div class="scoringHeading">Clearance</div>
                                <div class="scoringValue">0.5 Pts.</div>
                            </div>
                        </div>
                        <div class="mediabox2">
                            <div class="inputHeading1"><b>Prize Payout Structure</b></div>
                            <div class="prizes">
                                <div class="prizesHeading"><b>1st:</b></div>
                                <div class="prizesValue">40% of Prize Pool</div>
                                <div class="prizesHeading"><b>2nd:</b></div>
                                <div class="prizesValue">20% of Prize Pool</div>
                                <div class="prizesHeading"><b>3rd:</b></div>
                                <div class="prizesValue">15% of Prize Pool</div>
                                <div class="prizesHeading"><b>4th - 13th:</b></div>
                                <div class="prizesValue">0.1% of Prize Pool Per Person</div>
                                <div class="prizesHeading"><b>14th - 25th:</b></div>
                                <div class="prizesValue">0.066% of Prize Pool Per Person</div>
                                <div class="prizesHeading"><b>26th - 37th:</b></div>
                                <div class="prizesValue">0.041% of Prize Pool Per Person</div>
                                <div class="prizesHeading"><b>38th - 50th:</b></div>
                                <div class="prizesValue">0.015% of Prize Pool Per Person</div>
                            </div>
                        </div>
                        <!-- /content -->
                    </div>
                    <!-- /tabs -->
                </div>
            </div>
        </div>

    </div>
</div>
