<div class="container-fluid main-container ng-scope" id="forgotpassword">
  <div class="forgotpassword">
    <div class="col-xs-12 col-sm-12 col-sm-12 forgotpassword-header col-md-11 col-xs-10 box-center">
      <img src="/assets/logo.png" class="img-responsive">
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12 box-form">
      <img src="/assets/head_resetpassword.png" class="img-responsive image-head-forgotpassword">
      <form id="forgotForm">
        <div class="forgotpassword-form">
          <div class="col-md-12 col-xs-12 col-sm-12 form-group">
            <h3 class="text-center"><small class="help-block">{{responseMessage}}</small></h3>
          </div>
          <div class="form-group">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <h5 class="description">
                Enter your email address below and we'll send a special reset password link to your inbox
              </h5>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12 col-xs-12 col-sm-12 text-left">
              <label for="email">Email * &nbsp;&nbsp;&nbsp;</label>
              <input class="block input username" type="text" ng-model="account.email" placeholder="Enter Email" name="email" required="">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <button class="submit-button" ng-click="forgotPassword(account)">
                <img src="/assets/button_send_idle.png" class="img-submit" alt="" />
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
