<div class="container-fluid main-container ng-scope" id="resetpassword">
  <div class="resetpassword">
    <div class="col-xs-12 col-sm-12 col-sm-12 resetpassword-header col-md-11 col-xs-10 box-center">
      <img src="/assets/logo.png" class="img-responsive">
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12">
      <img src="/assets/head_resetpassword.png" class="img-responsive image-head-resetpassword">
      <div class="col-md-12 col-xs-12 col-sm-12 form-group" ng-show="message">
        <h3>{{message}}</h3>
      </div>
      <form id="formReset" ng-show="!showError && !noContent && !message">
        <div class="resetpassword-form">
          <div class="form-group">
            <h3>New Password:</h3>
            <input class="block input password" name="newpassword" ng-model="account.newpassword" type="password" placeholder="Enter Password">
          </div>
          <div class="form-group">
            <h3>Confirmation Password:</h3>
            <input class="block input confirmation password" name="newpassword2" ng-model="account.newpassword2" type="password" placeholder="Enter Re-Password">
          </div>
          <div class="form-group">
            <button class="submit-button" ng-click="resetPassword(account)">
              <img src="/assets/button_submit_idle.png" class="img-submit" alt="">
            </button>
          </div>
        </div>
      </form>
      <div class="col-md-12 col-xs-12 col-sm-12 form-group" ng-show="showError && !noContent && !message">
        <h3><small class="help-block">{{messageError}}</small></h3>
      </div>

    </div>
  </div>
</div>
