<div class="container-fluid main-container ng-scope" id="signup">
  <div class="signup">
    <div class="col-xs-12 col-sm-12 col-sm-12 signup-header col-md-11 col-xs-10 box-center">
      <img src="/assets/logo.png" class="img-responsive">
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12 box-form">
      <form id="signupForm">
        <div class="signup-form">
          <div class="col-md-12 col-xs-12 col-sm-12 form-group">
            <h2 class="text-center">{{message}}</h2>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
